/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body{
  font-family: sans-serif;
  background-color: rgb(228,233,241);
}

*{
  padding: 0;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

.main-wrapper{
  .side-bar{
    width: 14.5%;
  }
  .outlet{
    padding: 25px 30px 30px 30px;
    width: calc(100% - 18.5%);
  }
}

@media screen and (max-width:1165px){
  .main-wrapper{
    overflow-x: hidden;
    width: auto;

    .side-bar{
      width: 11%;
    }

    .outlet{
      width:88% !important;
      padding: 4px;
    }
  }
}